/*
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #00b0bd;
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #00b0bd;
  z-index: -1;
}
#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}
.timeline-article .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
  padding: 27px 25px;
}
.timeline-article p {
  margin: 0 0 0 0;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #00b0bd;
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  position: absolute;
  top: 18px;
  left: 49%;
  width: 40px;
  height: 40px;
  margin-left: -10px;
  color: #fff;
  border-radius: 100%;
  background: #00b0bd;
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 25px;
  line-height: 40px;
  margin-top: 16px;
}
.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
}

@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: -6px;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 20px 21px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
  
}
*/

.main-timeline{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    /*width: 50%;*/
    margin-left: 30px;
    float: right;
}
.main-timeline .timeline-content{
    color: #333;
    background-color: #fff;
    padding: 75px 40px 30px 40px;
    border-radius: 20px 70px 20px 20px;
    box-shadow: 0 0 15px -7px rgba(0,0,0,0.5);
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-count{
    color: #fff !important;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    left: 7px;
    top: 24px;
	z-index: 9;
}
.main-timeline .timeline-icon{
    color: #fff;
    background: linear-gradient(to right, #7261C9,#49369F);
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 3px 15px 1px 75px;
    border-radius: 0 40px 40px 0;
    position: absolute;
    top: 15px;
    left: 0;
}
.main-timeline .title{
    color: #49369F;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.main-timeline .description{
    font-size: 13px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: left;
    margin: 0 30px 0 0;
}
.main-timeline .timeline-2{
    float: left;
    margin: 0 30px 0 0;
}
.main-timeline .timeline-2 .timeline-content{
    padding: 75px 40px 30px 40px;
    border-radius: 70px 20px 20px 20px;
}
.main-timeline .timeline-2 .timeline-count{
    left: auto;
    right: 7px;
}
.main-timeline .timeline-2 .timeline-icon{
    padding: 3px 75px 1px 15px;
    border-radius: 40px 0 0 40px;
    left: auto;
    right: 0;
}
.timecolor-2{ color: #49C7AF !important; }
.timecolor-3{ color: #EF346B !important; }
.timecolor-4{ color: #ff780a !important; }
.linear-4{ background: linear-gradient(to right, #ff780a,#fc8f23) !important; }
.linear-3{ background: linear-gradient(to right, #EF568F,#EF346B) !important; }
.linear-2{ background: linear-gradient(to right, #49C7AF,#84DCB2) !important; }
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 75px 40px 30px 40px;
    border-radius: 70px 20px 20px 20px;
}
.main-timeline .timeline:nth-child(even) .timeline-count{
    left: auto;
    right: 7px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    padding: 3px 60px 1px 15px;
    border-radius: 40px 0 0 40px;
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-count,
.main-timeline .timeline:nth-child(4n+2) .title{
    color: #49C7AF;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
    background: linear-gradient(to right, #49C7AF,#84DCB2);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-count,
.main-timeline .timeline:nth-child(4n+3) .title{
    color: #EF346B;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
    background: linear-gradient(to right, #EF568F,#EF346B);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-count,
.main-timeline .timeline:nth-child(4n+4) .title{
    color: #ff780a;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
    background: linear-gradient(to right, #ff780a,#fc8f23);
}
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline-2{
        width: 100%;
        margin: 0 0 20px;
    }
    .main-timeline .timeline-2 .timeline-content{
        border-radius: 20px 70px 20px 20px;
    }
    .main-timeline .timeline-2 .timeline-count{
        left: 18px;
        right: auto;
    }
    .main-timeline .timeline-2 .timeline-icon{
        padding: 3px 15px 1px 60px;
        border-radius: 0 40px 40px 0;
        left: 0;
        right: auto;
    }
    .main-timeline .timeline-2{
        width: 100%;
        margin: 0 0 20px;
    }
    .main-timeline .timeline-2 .timeline-content{
        border-radius: 20px 70px 20px 20px;
    }
    .main-timeline .timeline-2 .timeline-count{
        left: 18px;
        right: auto;
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        padding: 3px 15px 1px 60px;
        border-radius: 0 40px 40px 0;
        left: 0;
        right: auto;
    }
}
@media screen and (max-width:567px){
    .main-timeline .title{ font-size: 18px; }
}
@media only screen and (max-width: 991px){
  .main-timeline .timeline {
    /* width: 50%; */
    margin-right: 30px;
    float: right;
    margin-left: 0px;
  }
  .main-timeline .timeline, .main-timeline .timeline-2{ margin-bottom: 30px; }
}

