.icon-animate:hover .fa, .icon-animate .fa:hover{
	/*animation-name: iconhover;
	animation-duration: 1s;*/
	transform: rotate(360deg);
	transition: 1s;
}
@keyframes iconhover {
  from {
  	-ms-transform: rotate(0deg); /* IE 9 */
  	transform: rotate(0deg); /* Standard syntax */
  }
  to {
  	-ms-transform: rotate(360deg); /* IE 9 */
  	transform: rotate(360deg); /* Standard syntax */
  }
}

/* On scroll Animation */

section {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.come-in {
  transform: translateX(-180px);
  animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 1s;
}

.already-visible {
  transform: translateX(0);
  animation: none;
}
.left-animate1{
	transform: translateX(-250px);
	animation: come-in 1s ease forwards;
	animation-duration: 1s;
}
.left-animate2{
	transform: translateX(-250px);
	animation: come-in 1.2s ease forwards;
	animation-duration: 1.2s;
	/*animation-delay: 1s;*/
}
.left-animate3{
	transform: translateX(-250px);
	animation: come-in 1.4s ease forwards;
	animation-duration: 1.4s;
	/*animation-delay: 2s;*/
}
.left-animate4{
	transform: translateX(-250px);
	animation: come-in 1.6s ease forwards;
	animation-duration: 1.6s;
	/*animation-delay: 2s;*/
}
.right-animate1{
	transform: translateX(250px);
	animation: come-in 1s ease forwards;
	animation-duration: 1s;
}
.right-animate2{
	transform: translateX(250px);
	animation: come-in 1.2s ease forwards;
	animation-duration: 1.2s;
	/*animation-delay: 1s;*/
}
.right-animate3{
	transform: translateX(250px);
	animation: come-in 1.4s ease forwards;
	animation-duration: 1.4s;
	/*animation-delay: 2s;*/
}
.right-animate4{
	transform: translateX(250px);
	animation: come-in 1.6s ease forwards;
	animation-duration: 1.6s;
	/*animation-delay: 3s;*/
}
@keyframes come-in {
  to {
    transform: translateX(0);
  }
}
.hidden{display: none; transform: scale(1.1, 1.1); transition: 1s;-ms-transform: translate(50px); transform: translate(50px); }

.come-in-even {
  transform: translateY(180px);
  animation: come-in-even 1.2s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.top-animate1{
	transform: translateY(250px);
	animation: come-in-even 1s ease forwards;
	animation-duration: 1s;
}
.top-animate2{
	transform: translateY(250px);
	animation: come-in-even 1.2s ease forwards;
	animation-duration: 1.2s;
	/*animation-delay: 1s;*/
}
.top-animate3{
	transform: translateY(250px);
	animation: come-in-even 1.4s ease forwards;
	animation-duration: 1.4s;
	/*animation-delay: 2s;*/
}
.top-animate4{
	transform: translateY(250px);
	animation: come-in-even 1.6s ease forwards;
	animation-duration: 1.6s;
	/*animation-delay: 3s;*/
}
.bottom-animate1{
	transform: translateY(-250px);
	animation: come-in-even 1s ease forwards;
	animation-duration: 1s;
}
.bottom-animate2{
	transform: translateY(-250px);
	animation: come-in-even 1.2s ease forwards;
	animation-duration: 1.2s;
	/*animation-delay: 1s;*/
}
.bottom-animate3{
	transform: translateY(-250px);
	animation: come-in-even 1.4s ease forwards;
	animation-duration: 1.4s;
	/*animation-delay: 2s;*/
}
.bottom-animate4{
	transform: translateY(-250px);
	animation: come-in-even 1.6s ease forwards;
	animation-duration: 1.6s;
	/*animation-delay: 3s;*/
}
.already-visible-even {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in-even {
  to {
    transform: translateY(0);
  }
}
.scale-zoom-in{
	transform: scale(0,0);
	animation: scalezoomin 1.7s ease forwards;
	animation-duration: 1.7s;
}

@keyframes scalezoomin {
  to {
    transform: scale(1,1);
  }
}
