/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 18px;
	background-color: rgba(0,0,0,.07);
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 1;
	position: absolute;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{ top: 50%; color: #666; margin-top: -20px; }
.owl-theme .owl-controls .owl-buttons .owl-prev:hover, .owl-theme .owl-controls .owl-buttons .owl-next:hover{ background-color: #30b2d2; color: white; }
.owl-theme .owl-controls .owl-buttons .owl-next{ top: 50%; color: #666; margin-top: -20px; }
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
@media only screen and (min-width: 100px){
	.owl-theme .owl-controls .owl-buttons .owl-prev{ left: -40px; }
	.owl-theme .owl-controls .owl-buttons .owl-next{ right: -40px; }
}
@media only screen and (min-width: 768px){
	.owl-theme .owl-controls .owl-buttons .owl-prev{ left: -40px; }
	.owl-theme .owl-controls .owl-buttons .owl-next{ right: -20px; }
}
@media only screen and (min-width: 992px){
	.owl-theme .owl-controls .owl-buttons .owl-prev{ left: -40px; }
	.owl-theme .owl-controls .owl-buttons .owl-next{ right: -40px; }
}